{% load staticfiles %}
{% verbatim %}
<div ng-controller="EnrollCoursePage as enrollCourseCntrl" layout="column" ng-cloak flex layout-fill>
  <div layout="column" flex="40" ng-style="{'background': 'linear-gradient(to bottom right, #64FFDA, #E040FB)'}" layout-align="space-between center">
    <div layout="row" flex="50" layout-align="start start" ng-style="{'width':'100%'}">
      <md-button class="md-icon-button" ng-click="mainCntrl.url = 'user-dashboard/'">
        <md-icon md-svg-icon="arrow-left"></md-icon>
      </md-button>
    </div>
    <div layout="row" layout-align="center center">
      <div md-whiteframe="3" ng-style="{'border-radius':'50%', 'width' : '100px', 'height' : '100px'}">
        <img ng-style="{'border-radius':'50%'}" src="http://via.placeholder.com/100x100"></img>
      </div>
    </div>
  </div>
  <div layout="column" flex="60" layout-padding layout-align="center center" ng-style="{'background-color' : '#FFFFFF'}">
    <div layout="row" ng-style="{'width':'800px'}" layout-align="start center">
      <label class="md-headline">About Course</label>
    </div>
    <div layout-wrap layout="column" ng-style="{'width':'800px', 'background-color' : '#FAFAFA', 'border-radius' : '2%'}">
      <p>
        {{ enrollCourseCntrl.description }}
      </p>
    </div>
    <div layout="row" layout-align="end end" ng-style="{'width':'800px'}">
      <md-button md-no-ink class="md-raised md-primary" ng-click="enrollCourseCntrl.showConfirm($event)">Enroll</md-button>
    </div>
  </div>
</div>
{% endverbatim %}
