<div ng-controller="LoginController as SignIn" layout="row" layout-align="center center" layout-fill flex ng-style="{'background': 'linear-gradient(to bottom right, #64FFDA, #E040FB)'}">
  <md-card md-whiteframe="3" class="md-padding" ng-style="{'min-width' : '500px', 'min-height' : '500px'}">
    <h1 class="md-display-3">Login</h1>
    <form name="LoginForm" layout-fill flex>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input required type="email" name="email" ng-model="SignIn.email"/>
        <div ng-messages="LoginForm.email.$error" role="alert">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
          <input required name="password" ng-model="SignIn.password" type="password">
          <div ng-messages="LoginForm.password.$error">
            <div ng-message="required">This is required.</div>
          </div>
      </md-input-container>
      <div layout="row" flex>
        <div flex="50" layout="row" layout-align="start center">
          <div layout="row" layout-align="space-between center" layout-fill flex>
            <a href="" ng-style="{'font-size': '13px'}" ng-click="SignIn.onNotYetRegistered(mainCntrl)">Not Registered?</a>
          </div>
        </div>
        <div flex="50" layout="row" layout-align="end center">
          <md-button class="md-raised md-primary" ng-disabled="!SignIn.email && !SignIn.password" ng-click="SignIn.onLogin(mainCntrl)">Login</md-button>
        </div>
      </div>
    </form>
  </md-card>
</div>
