{% verbatim %}
<div ng-controller="userDashboard as dashCntrl" layout-fill flex layout="row">
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo" layout="row">
      <div flex class="md-padding" layout="column">
        <label class="md-title">Welcome, {{dashCntrl.user.first_name}}</label>
        <label class="md-caption">{{dashCntrl.user.email_id}}</label>
      </div>
    </md-toolbar>
    <md-content layout="column">
      <h1 class="md-headline md-padding">Your Courses</h1>
      <div flex ng-repeat="courses in dashCntrl.enrolled_courses">
          <md-button class="md-accent" ng-click="dashCntrl.navigateToYourCourse(mainCntrl, courses)" ng-style="{'width' : '100%', 'height' : '40px', 'margin' : '0px'}">{{courses.course_name}} </md-button>
          <md-progress-linear md-mode="determinate" ng-value="75" ng-init="value=Math.floor((Math.random() * 100) + 1);"></md-progress-linear>
      </div>
    </md-content>
    <div class="md-padding" layout="column" layout-align="end end" flex>
      <md-button class="md-icon-button md-raised md-primary" ng-click="dashCntrl.logout(mainCntrl, $event)"><md-icon class="material-icons">power_settings_new</md-icon></md-button>
    </div>
  </md-sidenav>
  <md-content flex layout-padding layout="column" ng-style="{'background-color': '#ffffff'}">
    <div>
      <md-button class="md-icon-button" ng-click="dashCntrl.toggleLeft()" hide-gt-sm>
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
    </div>
    <h1 class="md-display-3">Catalogue</h1>
    <div layout-padding layout="column" flex ng-repeat="category in dashCntrl.categories" ng-style="{'min-height' : '500px'}">
      <h1 class="md-display-1">{{category.cat_name}}</h1>
      <label class="md-caption">{{category.cat_desc}}</label>

      <div layout="row" ng-style="{'overflow-x' : 'auto', 'overflow-y' : 'hidden'}">
        <md-card layout="column" ng-repeat="course in category.courses" md-whiteframe="2" ng-click="dashCntrl.navigate(mainCntrl,course)" layout-wrap>
            <div ng-style="{'width' : '300px', 'height' : '275px'}"><img width="300px" height="275px" src="{{course.course_icon_url}}"></div>
            <div layout-padding><label>{{course.course_name}}</label></div>
        </md-card>
      </div>

    </div>
  </md-content>
</div>

{% endverbatim %}
